.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #006B47;
  background-color: aquamarine;
}

.activities {
  width: 500px;
  background-color: #00C684;
  color: white;
  margin: 20px;
  padding : 50px;
}

.fetch-button{
  border-radius: 80px;
  padding: 10px;
  background-color: palevioletred;
  color:white;
  outline-style: none;
}